{% extends "base_layout.html" %}
{% block title %}Article List{% endblock title %}
{% block content %}
<main>
    <h1>Article List</h1>
    <div class="articles">
        {% for element in articles %}
            <div class="article__item">
                <h2>
                    <a href="{% url 'articles:article_detail' slug=element.slug %}">
                        {{ element.title }}
                    </a>
                </h2>
                <p>
                    <!-- {{ element.body }} -->
                    {{ element.snippet }}
                </p>
                <time>
                    {{ element.date }}
                </time>
            </div>
        {% endfor %}
    </div>
    <div class="create_wrapper">
         {% if user.is_authenticated %}
            <form  action="{% url 'articles:create' %} " method="get">
            {% csrf_token %}
                <button type="submit" class="create-button">Create article</button>
        {% endif %}     
    </div>

</main>
{% endblock content %}