/* Сброс стилей */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, ul,  button{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}  

button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

a{
    text-decoration: none;
}

/* Сброс стилей закончен */

body{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

/* Стили навигационной панели */

.navigation{
    padding-top: 50px;
    margin-bottom: 78px;
}

.navigation__wrap{
    display: flex;
    justify-content: space-between;
}

.navigation__decor{
    align-items: center;
    display: flex;
    grid-gap: 12px;
}
.navigation__decor-name{
    font-size: 0;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
}
.navigation__decor-name-part1
{
    font-size: 28px;
    font-weight: 700;
    color: #4047E2;
}
.navigation__decor-name-part2
{
    font-size: 28px;
    font-weight: 700;
    color: #FCA206;
}

.navigation__list{
    display: flex;
    align-items: center;
    grid-gap: 51px;
}

.navigation__list-item-link{
    font-weight: 400;
    color: #3F3A51;
    text-decoration: none;
}
.navigation__list-item-link:hover{
    text-decoration: underline;
}

/* Конец стилей навигационной панели */

/* Стили для промо */

.promo{
    margin-bottom: 80px;
}

.promo h1{
    font-size: 42px;
    line-height: 1.0;
    font-weight: 700;
    margin-bottom: 16px;
    padding-top: 56px;
}

.promo__img{
    margin-left: 40px;
    float: right;
}

.promo p{
    font-size: 18px;
    font-weight: 400;
    color: #8F99AC;
    margin-bottom: 19px;
}

.promo__buttons{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.promo__button-lesson{
    background-color: #4047E2;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color:#F9F9F9;
    margin-right: 20px;
}

.promo__button-demo{
    width: 225px;
    height: 50px;
    border: 1px solid #4047E2;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #4047E2;
    img{
        margin-right: 10px;
    }
}

/* Конец стилей для промо */

/* Стили для класс */

.class{
    width: 100%;
    height: 401px;
    background-color: #DFE1FF;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.class h2{
    padding-top: 73px;
    font-size: 32px;
    font-weight: 700;
    color: #3F3A51;
    margin-bottom: 28px;
}

.class img{
    padding-top: 80px;
    float: right;
}

.class p{
    font-size: 18px;
    font-weight: 400;
    color: #3F3A51;
}
/* Конец стилей для класс */

/* Стили для history */
.history{
    margin-bottom: 80px;
}

.history h2{
    padding-top: 90px;
    font-size: 32px;
    font-weight: 700;
    color: #3F3A51;
    padding-left: 40px;
}

.history p{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;   
    padding-left: 40px;
}

.history img{
    float: right;
    padding-left: 0;
    margin-right: 25px;
}
/* Конец стилей для history */

/* Стили для возможностей */

.possibilities{
    margin-bottom: 67px;
}
.possibilities h2{
    text-align: center;
    margin-bottom: 45px;
    font-size: 32px;
    font-weight: 700;
    color: #3F3A51;
}

.possibilities__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.possibilities__cards img{
    margin-bottom: 26px;
    padding-top: 48px;
}

.possibilities__cards div{
    display: block;
    height: 320px;
    width: 285px;
    box-shadow: 0px 10px 50px #4047E233;
    border-radius: 20px;
    justify-content: center;
}

.possibilities__cards-chat, .possibilities__cards-checkin{
    background-color: #4047E233;
}
.possibilities__cards-lessons, .possibilities__cards-history{
    background-color: #FCA20633;
}

.possibilities h3{
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 500;
    color: #3F3A51;
}

.possibilities p{
    font-size: 18px;
    font-weight: 400;
    color: #3F3A51;
}
/* Конец стилей для возможностей */

/* Стили для как это работает */

.how h2{
    text-align: center;
    margin-bottom: 54px;
    font-size: 32px;
    font-weight: 700;
    color: #3F3A51;
}

.how h3{
    text-align: center;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
    color: #3F3A51;
}

.how p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #3F3A51;
}

.how__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.how__cards div{
    width: 345px;
    height: 368px;
}

.how__cards img{
    margin-bottom: 24px;
}

/* Конец стилей для как это работает */

/* Стили для отзывов */

.reviews{
    width: 100%;
    height: 415px;
    background-color: #DFE1FF;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 65px;

}

.reviews__wrap{
    display: flex;
}

.reviews__easy{
    display: inline;
    flex-wrap: wrap;
    float: left;
}

.reviews__teacher{
    width: 629px;
    background-color: #FFFFFF;
    border-radius: 35px;
    margin-top: 80px;
}

.reviews__teacher-maintext{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-left: 30px;
    padding-top: 30px;
}

.reviews__teacher-info img{
    padding-top: 18px;
    padding-left: 30px;
    float: left;
    padding-right: 16px;
    margin-bottom: 30px;
}

.reviews__teacher-info p{
    font-size: 16px;
    font-weight: 400;
}

.reviews__teacher-name{
    padding-top: 27px;
    color: #000000;
}

.reviews__teacher-job{
    color: #8F99AC;
}

.reviews h2{
    padding-top: 104px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #3F3A51;
    width: 390px;
}

.reviews__easy p{
    font-size: 16px;
    font-weight: 400;
    color: #3F3A51;
    margin-bottom: 14px;
}

.reviews button{
    background-color: #4047E2;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color:#F9F9F9;
}

/* Конец стилей для отзывов */

/* Стили для футера */

.footer__decor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__separator{
    margin-top: 43px;
    margin-bottom: 38px;
    position: relative;
    height: 1px;
    background-color: #EAEAEA;
}

.footer__data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer p{
    font-size: 16px;
    font-weight: 400;
    color: #8F99AC;
}
/* Конец стилей для футера */