/* Стили для класс */

.class{
    width: 100%;
    background-color: #DFE1FF;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    min-height: 421px;
    @media screen and (max-width: 992px) {
        background: transparent;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        align-items: center;
        min-height: auto;
    }

    h2{
        padding-top: 73px;
        font-size: 32px;
        font-weight: 700;
        color: #3F3A51;
        margin-bottom: 28px;
        @media screen and (max-width: 992px) {
            padding-top: 30px;
            font-size: 27px;
            text-align: center;
        }

        @media screen and (max-width: 480px) {
            text-align: start;
        }
    }

    img{
        padding-top: 80px;
        float: right;
        @media screen and (max-width: 1400px) {
            float: none;
            width: 100%;
            padding-top: 50px; 
            display: flex;
            justify-content: center; /*Центрирование по горизонтали*/
            align-items: center;  
            height: auto;
        }
        @media screen and (max-width: 992px) {
            float: none;
            display: block;
            padding-top: 35px;
            filter: drop-shadow(0px 10px 40px #4047E233);
            width: 100%;
        }
    }

    p{
        font-size: 18px;
        font-weight: 400;
        color: #3F3A51;
        @media screen and (max-width: 992px) {
            font-size: 16px;
            text-align: center;
        }
        @media screen and (max-width: 480px) {
            text-align: start;
        }
    }
}
/* Конец стилей для класс */