/* Стили для футера */

.footer__decor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 565px){
        flex-direction: column;
        gap: 35px;
    }
}

.footer__separator{
    margin-top: 43px;
    margin-bottom: 38px;
    position: relative;
    height: 1px;
    background-color: #EAEAEA;
}

.footer__data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    p{
    font-size: 16px;
    font-weight: 400;
    color: #8F99AC;
    }

    @media screen and (max-width: 565px){
        flex-direction: column;
        gap: 35px;
        align-items: center;
        text-align: center;
    }
}

/* Конец стилей для футера */ 