/* Стили для history */
.history{
    margin-bottom: 80px;
    h2{
    padding-top: 90px;
    font-size: 32px;
    font-weight: 700;
    color: #3F3A51;
    padding-left: 40px;
    }
    p{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;   
    padding-left: 40px;
    }
    img{
    float: right;
    padding-left: 0;
    margin-right: 25px;
    }
}

/* Конец стилей для history */