/* Стили для как это работает */

.how{

    h2{
        text-align: center;
        margin-bottom: 54px;
        font-size: 32px;
        font-weight: 700;
        color: #3F3A51;
    }

    h3{
        text-align: center;
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: 500;
        color: #3F3A51;
    }

    p{
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #3F3A51;
    }
    
    @media screen and (max-width: 380px){
       h2{
        font-size: 27px;
       }
       h3{
        font-size: 20px;
       }
       p{
        font-size: 16px;
       }
    }
}
.how__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;

    div{
        width: auto;
        height: 368px;
    }
    img{
        margin-bottom: 24px;
    }

    @media screen and (max-width: 1200px){
        flex-direction: column;
        width: 100%;
        align-content: center;
        gap: 25px;
    }
}


/* Конец стилей для как это работает */