/* Стили навигационной панели */

.navigation{
  padding-top: 50px;
  margin-bottom: 78px;
}

.navigation__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px){
    justify-content: space-between;
  }
}

.navigation__decor{
  align-items: center;
  display: flex;
  grid-gap: 12px;
  height: 51px;
    @media screen and (max-width: 768px){
      img{
      height: 44px;
      width: 40px;
    }
    width: 160px;
  }
}
.navigation__decor-name{
    font-size: 0;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
}
.navigation__decor-name-part1
{
    font-size: 28px;
    font-weight: 700;
    color: #4047E2;

    @media screen and (max-width: 768px){
      font-size: 20px;
    }
}
.navigation__decor-name-part2
{
  font-size: 28px;
  font-weight: 700;
  color: #FCA206;

  @media screen and (max-width: 768px){
    font-size: 20px;
  }
}

.navigation__menu-list{
  display: flex;
  padding-left: 35px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  grid-gap: 51px;
  visibility: visible;
  height: 51px;
  width: 370px;
  
  @media (max-width: 768px){
    font-size: 14px;
    width: auto;  
    grid-gap: 20px;
    margin-left: 30px;
  }

  @media screen and (max-width: 606px){
    visibility: hidden;
  }
}

.navigation__menu-list-true
{
  visibility: visible;
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: flex-end;
  align-content: end;
  position: fixed;
  grid-gap: 12px;
  padding: 25px 30px 0px 0px ;
  top: 100px;
  right: 0%;
}

.navigation__menu-list-link{
    font-weight: 400;
    color: #3F3A51;
    text-decoration: none;
    flex-direction: row;
    vertical-align: middle;

    .navigation__menu-list-link:hover{
        text-decoration: underline;
    }
}


.navigation__menu-refs{
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.navigation__menu-refs-true{
  visibility: visible;
  position: fixed;
  height: 90px;
  width: 80vw;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #8F99AC;
  padding-right: 30px;
  right: 0%;
  align-items: flex-end;
  text-align: right;
  grid-gap: 16px;
}


.navigation__menu{
  display: none;
  width: 0px;
  height: 0px;

  @media screen and (max-width: 606px) {
    display: flex;
    position: relative;
    z-index: 999;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;

    span {
      position: absolute;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 10px;
      background-color: #4047E2;
    }
    &::before, &::after{
      content: ' ';
      position: absolute;
      height: 2px;
      width: 22px;
      border-radius: 10px;
      background-color: #4047E2;
      transition: all 0.3s ease 0s;
    }
    
    &::before{
      top: 0;
    }

    &::after{
      bottom: 0;
    }

    &.active span{
      transform: scale(0);
    }

    &.active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }

    &.active::after{
      top: 40%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }
}

.navigation__menu-wrap{
    visibility:hidden;
    height: 51px;
    vertical-align: center;


    @media screen and (max-width: 606px){
      display: block;
      align-items: right;
      position: fixed;
      height: 180vh;
      width: 100vw;
      z-index: 1;
      overflow-y: auto;
      background-color: #ffffff;
      animation: burgerAnimation 0.4s;
      margin-left: 28px;
      opacity: 1;
    }

  }
  .navigation__menu-wrap-open{
    visibility: visible;
  }

  .navigation__cover{
    display: none;
    height: 0px;
    width: 0px;
  }

  .navigation__cover-true{
    display: block;
    position: fixed;
    top:0;
    right: 280px;
    height: 100vh;
    width: 80%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: background-color 0.2s;
  }