/* Стили навигационной панели */

.navigation{
    padding-top: 50px;
    margin-bottom: 78px;
}

.navigation__wrap{
    display: flex;
    justify-content: space-between;
}

.navigation__decor{
    align-items: center;
    display: flex;
    grid-gap: 12px;
}
.navigation__decor-name{
    font-size: 0;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
}
.navigation__decor-name-part1
{
    font-size: 28px;
    font-weight: 700;
    color: #4047E2;
}
.navigation__decor-name-part2
{
    font-size: 28px;
    font-weight: 700;
    color: #FCA206;
}

.navigation__list{
    display: flex;
    align-items: center;
    grid-gap: 51px;
}

.navigation__list-item-link{
    font-weight: 400;
    color: #3F3A51;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

/* Конец стилей навигационной панели */