/* Стили для возможностей */

.possibilities{
    margin-bottom: 67px;
    h2{
        text-align: center;
        margin-bottom: 45px;
        font-size: 32px;
        font-weight: 700;
        color: #3F3A51;
    }
    h3{
        margin-bottom: 18px;
        font-size: 20px;
        font-weight: 500;
        color: #3F3A51;
    }
    
    .p{
        font-size: 18px;
        font-weight: 400;
        color: #3F3A51;
    }
}

.possibilities__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    img{
        margin-bottom: 26px;
        padding-top: 48px;
    }
    div{
        display: block;
        height: 320px;
        width: 285px;
        box-shadow: 0px 10px 50px #4047E233;
        border-radius: 20px;
        justify-content: center;
    }
}


.possibilities__cards-chat, .possibilities__cards-checkin{
    background-color: #4047E233;
}
.possibilities__cards-lessons, .possibilities__cards-history{
    background-color: #FCA20633;
}

/* Конец стилей для возможностей */