/* Стили для возможностей */
.possibilities{
    overflow: hidden;
    margin-bottom: 67px;
    h2{
        text-align: center;
        margin-bottom: 45px;
        font-size: 32px;
        font-weight: 700;
        color: #3F3A51;
    }
    h3{
        margin-bottom: 18px;
        font-size: 20px;
        font-weight: 500;
        color: #3F3A51;
    }
    
    .p{
        font-size: 18px;
        font-weight: 400;
        color: #3F3A51;
    }
    .swiper{
        .swiper-wrapper {
            padding-top: 30px;
            display: flex;
            padding-bottom: 50px;
        }
    }
}

.possibilities__card-chat, .possibilities__card-checkin{
    background-color: #4047E233;
    margin: auto;
                height: 340px;
                width: 100%;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: flex-top;
                padding: 50px 20px;
                text-align: center;
                border-radius: 15px;
                box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
    
                @media screen and (max-width: 991px) {
                    padding: 30px 20px;
                    gap: 15px;
                    height: 250px;
                    h3 {
                        font-size: 16px;
                    }
    
                    p {
                        font-size: 14px;
                    }
                }

                @media screen and (max-width: 576px) {
                    gap: 15px;
                    width: 240px;
                }
    
                .possibility_card_bl-rectangle {
                    background: #4047E2;
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    padding: 30px 10px;
    
                    @media screen and (max-width: 991px) {
                        height: 70px;
                        width: 70px;
                        padding: 20px 9px;
                        img{
                            width: 70%;
                        }
                    }
                }
    
    
}
.possibilities__card-lessons, .possibilities__card-history{
    background-color: #FCA20633;
    margin: auto;
    height: 340px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 50px 20px;
    box-shadow: 0px 10px 50px 0px rgba(252, 162, 6, 0.2);
     @media screen and (max-width: 991px) {
                    padding: 30px 20px;
                    gap: 15px;
                    height: 250px;
                    h3 {
                        font-size: 16px;
                    }
    
                    p {
                        font-size: 14px;
                    }
                }

                @media screen and (max-width: 576px) {
                    gap: 15px;
                    width: 240px;
                }
                                .possibility_card_or-rectangle {
                    background: #FCA206;
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    padding: 30px 10px;
    
                    @media screen and (max-width: 991px) {
                        height: 70px;
                        width: 70px;
                        padding: 22px 9px;
                        img{
                            width: 70%;
                        }
                    }
                }
}

/* Конец стилей для возможностей */