/* Стили для промо */

.promo{
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 992px){
        margin-bottom: 30px;
    }

    h1{
        font-size: 42px;
        line-height: 1.0;
        font-weight: 700;
        margin-bottom: 16px;
        padding-top: 56px;
        @media screen and (max-width: 992px){
            font-size: 37px;
            text-align: center;
            width: 100%;
        }

        @media screen and (max-width: 480px){
            font-size: 27px;
            text-align: start;
        }
    }

    .promo__pic-full{
        float: right;
        
    @media screen and (max-width: 1200px){
        display: none;
        width: 0px;
        height: 0px;
    }
    }
    .promo__pic-mobile{
        display: none;
        
        @media screen and (max-width: 1200px){
            display: flex;
            float: right;
            width: 100%;
            height: 50vh;
            margin-bottom: 20px;
    }
    }
    p{
        font-size: 18px;
        font-weight: 400;
        color: #8F99AC;
        margin-bottom: 19px;
        @media screen and (max-width: 992px){
            font-size: 16px;
            text-align: center;
        }

        @media screen and (max-width: 480px){
            font-size: 16px;
            text-align: start;
        }
    }
}

.promo__buttons{
    align-items: center;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 992px){
        justify-content: center;
    }

    @media screen and (max-width: 480px){
        gap: 8px;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.promo__button-lesson{
    background-color: #4047E2;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color:#F9F9F9;
    margin-right: 20px;
    @media screen and (max-width: 480px){
        width: 100%;
        margin: 0%;
    }
}

.promo__button-demo{
    width: 225px;
    height: 50px;
    border: 1px solid #4047E2;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #4047E2;
    img{
        margin-right: 10px;
    }

    @media screen and (max-width: 480px){
        width: 100%;
    }
    
}



/* Конец стилей для промо */