/* Стили для отзывов */

.reviews{
    width: 100%;
    height: 415px;
    background-color: #DFE1FF;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 65px;
    h2{
        padding-top: 104px;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 14px;
        color: #3F3A51;
        width: 390px;
    }
    @media screen and (max-width: 1200px){
        h2{
            font-size: 27px;
            width: auto;
        }
    }

        
    @media screen and (max-width: 1023px){
        height: auto;
    }
}

.reviews__wrap{
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: 1023px){
       flex-direction: column;
       height: 140vh;
    }
}

.reviews__easy{
    display: inline;
    flex-wrap: wrap;
    float: left;
    
    @media screen and (max-width: 1023px){
        float: none;
        width: 100%;
        text-align: center;
    }
    
    @media screen and (max-width: 780px) {
        text-align: left;
    }
}

.reviews__teacher{
    width: 629px;
    background-color: #FFFFFF;
    border-radius: 35px;
    margin-top: 80px;
    
    @media screen and (max-width: 1200px){
        width: auto;
    }
     @media screen and (max-width: 1023px){
        float: none;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    @media screen and (max-width: 780px) {
        text-align: left;
        padding-left: 0px;
    }
}

.reviews__teacher-maintext{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-left: 30px;
    padding-top: 30px;
    @media screen and (max-width: 1200px){
       padding-left: 15px;
    }

}

.reviews__teacher-info
{
    img{
    padding-top: 18px;
    padding-left: 30px;
    float: left;
    padding-right: 16px;
    margin-bottom: 30px;
    
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }

    @media screen and (max-width: 1023px){
        align-items: center;
        text-align: center;
        padding-left: 0;
        
        img {
            float: none;
            margin: 0 auto 10px;
            padding-left: 10px;
        }
        
        p{
            width: 100%;
            text-align: center;
            padding-top: 0px;
            padding-bottom: 5px;
        }
    }

    @media screen and (max-width: 780px) {
        .reviews__teacher-name{
            text-align: left;
            margin-left: 85px;
            padding-top: 18px;
            width: auto;
        }
        .reviews__teacher-job{
            text-align: left;
            margin-left: 85px;            
        }
        img{
            float: left;
        }
    }
}

.reviews__teacher-name{
    padding-top: 27px;
    color: #000000;
}

.reviews__teacher-job{
    color: #8F99AC;
}

.reviews__easy p{
    font-size: 16px;
    font-weight: 400;
    color: #3F3A51;
    margin-bottom: 14px;
}

.reviews button{
    background-color: #4047E2;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color:#F9F9F9;
}

/* Конец стилей для отзывов */