@use "scss/base.scss";
@use "scss/promo.scss";
@use "scss/navigation.scss";
@use "scss/class.scss";
@use "scss/history.scss";
@use "scss/possibilities.scss";
@use "scss/how.scss";
@use "scss/reviews.scss";
@use "scss/footer.scss";